<footer class="footer">
    <section class="footer__copy container">
        <div class="footer__social">
            <a href="#" class="footer__icons"><img
                    src="img/facebook.svg"
                    class="footer__img"
                /></a>
            <a href="#" class="footer__icons"><img
                    src="img/twitter.svg"
                    class="footer__img"
                /></a>
            <a href="#" class="footer__icons"><img
                    src="img/youtube.svg"
                    class="footer__img"
                /></a>
        </div>

        <h3 class="footer__copyright">Derechos reservados &copy; HorariosFacci</h3>
    </section>
</footer>