<div class="container w-75 my-2 rounded-3 shadow">
    <div class="row align-items-stretch">
        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6"></div>
        <div class="col bg-der py-5 rounded-3">
            <div class="text-end mx-3">
                <img
                    src="/img/logo2.png"
                    width="70px"
                    alt="LogoUleam"
                />
            </div>
            <h2 class="fw-bold text-center mx-5 py-2">
                Ingrese sus datos para registarse
            </h2>
            <!--<div class="form">-->
            <form class="custom-form" method="post" action="register"
                  id="caja-registro">
                <div class="mb-2 mx-3">
                    <label for="nombre" class="form-label">Nombre y
                        Apellido</label>
                    <input
                        type="text"
                        name="nombre_cliente"
                        minlength="10"
                        class="form-control"
                        required
                        id="nombre"
                        placeholder="Ingrese su nombre"/>
                    <span id="a-error" aria-live="assertive"></span>
                </div>
                <div class="row align-items-stretch">
                    <div class="col">
                        <div class="mb-2 ms-3">
                            <label for="user" class="form-label">Usuario</label>
                            <input
                                type="text"
                                name="user"
                                minlength="4"
                                class="form-control"
                                required
                                id="user"
                                placeholder="Ingrese su usuario"/>
                            <span id="nu-error" aria-live="assertive"></span>
                        </div>
                        <div class="mb-2 ms-3">
                            <label
                                for="cedula"
                                class="form-label"
                            >Cedula
                            </label>
                            <input
                                type="text"
                                name="cedula"
                                minlength="10"
                                maxlength="10"
                                class="form-control"
                                required
                                id="cedula"
                                placeholder="Ingrese su cédula"/>
                            <span id="n-error" aria-live="assertive"></span>
                        </div>
                        <div class="mb-2 ms-3">
                            <label
                                for="facultad"
                                class="form-label"
                            >Facultad
                            </label>
                            <input
                                type="text"
                                name="facultad"
                                minlength="4"
                                class="form-control"
                                required
                                id="facultad"
                                placeholder="Ingrese su Facultad"/>
                            <span id="f-error" aria-live="assertive"></span>
                        </div>
                    </div>

                    <div class="col">
                        <div class="mb-2 me-3">
                            <label
                                for="password"
                                class="form-label"
                            >Contraseña
                            </label>
                            <input
                                type="password"
                                name="password"
                                minlength="4"
                                class="form-control"
                                required="required"
                                id="password"
                                placeholder="Ingrese su contraseña"/>
                            <span id="p-error" aria-live="assertive"></span>
                        </div>
                        <div class="mb-2 me-3">
                            <label
                                for="telefono"
                                class="form-label"
                            >Teléfono
                            </label>
                            <input
                                id="telefono"
                                type="tel"
                                name="telefono"
                                maxlength="10"
                                minlength="10"
                                class="form-control"
                                required
                                placeholder="Ingrese su teléfono"/>
                            <span id="c2-error" aria-live="assertive"></span>
                        </div>
                        <div class="mb-2 me-3">
                            <label for="edad" class="form-label">Edad</label>
                            <input
                                id="edad"
                                type="text"
                                name="edad"
                                minlength="2"
                                class="form-control"
                                required
                                placeholder="Ingrese su edad"/>
                            <span id="d-error" aria-live="assertive"></span>
                        </div>
                    </div>
                </div>

                <!-- Botón -->
                <div class="d-grid pt-3 mx-3">
                    <button type="submit" class="btn btn-primary"
                    >Registrarse
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/register.js"></script>
