.bg {
    background-image    : url(/img/logobar2.png);
    background-position : center center;
    background-repeat   : no-repeat

}

.ur {
    text-decoration : none;
}

.bg-der {
    background-color : rgb(216, 250, 196);
}

.logo {
    /* padding: 15px 0; */
    width  : 200px;
    cursor : pointer;
}

.navbar {
    font-size : 22px;
}
