<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']">Bares ULEAM</a>
        <button
            class="navbar-toggler"
            type="button"
            data-db-toggle="collapse"
            data-db-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon" id="navbarNavAltMarkup"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/bar']">Bares
                    </a>
                </li>
            </ul>

            <ng-container
                *ngIf="!(isLoggedIn$ | async); else logoutTemplate">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/register']">Register
                        </a>
                    </li>
                </ul>
            </ng-container>

            <ng-template #logoutTemplate>
                <ul class="navbar-nav me-5 float-lg-start">

                    <li class="nav-item">
                        <a
                            class="nav-link"
                            [routerLink]="['/crear-reservacion']"
                        >
                            Crear Reservacion
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            [routerLink]="['/consultar-reservacion']"
                        >
                            Consultar Reservaciones
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            [routerLink]="['/login']"
                            (click)="logout()"
                        >
                            Logout
                        </a>
                    </li>
                </ul>
            </ng-template>
        </div>
    </div>
</nav> -->



<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 ">
    <div class="container">
        <img src="/assets/img/logorecortado.png" alt="logo"
            class="logo" [routerLink]="['/home']">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#toggleMobileMenu" aria-controls="toggleMobileMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/bar']">Bares
                    </a>
                </li>
            </ul>
            <ng-container
                *ngIf="!(isLoggedIn$ | async); else logoutTemplate">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/register']">Register
                        </a>
                    </li>
                </ul>
            </ng-container>
            <ng-template #logoutTemplate>
            <ul class="navbar-nav ">

                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="['/crear-reservacion']"
                    >
                        Crear Reservacion
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="['/consultar-reservacion']"
                    >
                        Consultar Reservaciones
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="['/login']"
                        (click)="logout()"
                    >
                        Logout
                    </a>
                </li>
            </ul>
            </ng-template>
        </div>
    </div>
</nav>