<div class="container-fluid">

    <div class="header">
        <h1 class="header-title mt-4 text-center">
            {{titulo}}
        </h1>
    </div>
    <div class="row">
        <div class="col-12 col-xl-12 form-group mt-4 mx-auto">
            <div class="card">
                <div class="card-header" style="background-color:  steelblue">
                    <h5 class="card-title text-center">Datos de reservación</h5>
                </div>
                <div class="card-body bg-dark" style="color: white;">
                    <form
                        #reservationForm="ngForm"
                    >
                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <label><b>Cliente</b></label>
                                <p>Bienvenido de nuevo</p>
                                <input
                                    type="text"
                                    class="form-control mt-2"
                                    value="{{cliente.nombre_cliente}}"
                                    readonly
                                    #nombre_cliente name="nombre_cliente"
                                >
                            </div>
                            <div class="col-lg-4 form-group">
                                <label><b>Bar</b></label>
                                <p>Seleccione un bar</p>
                                <select
                                    class="form-control form-select mt-2"
                                    required
                                    (change)="selectBar($event)"
                                >
                                    <option disabled selected>
                                        {{ nombreBar || 'SELECCIONAR' }}
                                    </option>
                                    <option
                                        [value]="item._id"
                                        *ngFor="let item of bar"
                                    >
                                        {{item.nombre}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-lg-4 form-group">
                                <label><b>Menú</b></label>
                                <p>Seleccione un menú</p>
                                <select
                                    class="form-control form-select mt-2"
                                    required
                                    (change)="selectMenu($event)"
                                >
                                    <option
                                        disabled
                                        selected
                                    >
                                        {{ nombrePlato || 'SELECCIONAR' }}
                                    </option>
                                    <option
                                        [value]="item._id"
                                        *ngFor="let item of plato"
                                    >
                                        {{item.nombre_plato}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-lg-4 form-group">
                                <label><b>Fecha</b></label>
                                <p>Establezca una fecha para la reservación</p>
                                <input
                                    type="date"
                                    class="form-control mt-2"
                                    required
                                    name="fecha"
                                    [(ngModel)]="fecha"
                                >
                            </div>
                            <div class="col-lg-4 form-group">
                                <label><b>Hora</b></label>
                                <p>Establezca una hora para la reservación</p>
                                <input
                                    type="time"
                                    class="form-control mt-2"
                                    required
                                    name="hora"
                                    [(ngModel)]="hora"
                                >
                            </div>
                            <div class="col-lg-4 form-group">
                                <label><b>Descripcion</b></label>
                                <p>Establezca una descripcion para la
                                    reservación</p>
                                <textarea
                                    type="text"
                                    class="form-control mt-2"
                                    required
                                    name="descripcion"
                                    [(ngModel)]="descripcion"
                                ></textarea>
                            </div>
                        </div>
                        <div
                            class="col-lg-3 form-group mt-2"
                            style="margin-left: 42.5%;"
                        >
                            <button
                                type="submit"
                                *ngIf="!id else editarTemplate"
                                class="btn btn-success mt-4"
                                (click)="crearReservacion()"
                            >
                                Registrar Reservación
                            </button>
                            <ng-template #editarTemplate>
                                <button
                                    type="submit"
                                    class="btn btn-success mt-4"
                                    (click)="modificarReservacion()">
                                    Actualizar Reservación
                                </button>
                            </ng-template>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
